<!--==========================================================================================================================-->
<!--==========================================================================================================================-->
<!--INPUTS-->

  <div class="cor-do-formulario">
  <mat-form-field appearance="fill" class="inputs" *ngIf="mostrarBotao">
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="id">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="inputs">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="nome">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="inputs">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="inputs">
    <mat-label>Escreva sua senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="senha">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
    <div>
    <input type="file"(change)="selecionarImagem($event)" class="file">
    <button mat-raised-button color="primary" class="botaoDeletar" *ngIf="mostrarBotao">Deletar</button>
    </div>
  </div>
  <!--==========================================================================================================================-->
  <!--==========================================================================================================================-->
  <!--BOTÕES-->
  <br>
  <div class="example-button-row">
    <button mat-raised-button color="primary" class="botao" (click)="criarDado()">Cadastrar</button>
    <button mat-raised-button color="warn" class="botaoAtualizar" (click)="atualizarDado()" *ngIf="mostrarBotao">Atualizar</button>
    <button mat-raised-button  class="botaoPesquisar" (click)="pegarDado()" (click)="mostrarOuOcultarBotao()">Pesquisar</button>
  <br>
  </div>
  <!--==========================================================================================================================-->
  <!--==========================================================================================================================-->
