.example-card {
  max-width: 300px;
  margin: 5%;
}

.img{
  width: 300px;
  height: 250px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Define o espaçamento entre as imagens */
}

.botao{
  flex: 1 1 auto;
  width: 100%;
}
